workflows/Invoice workflow.json
{
  "name": "Invoice workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dfaEUiqmy0LI2DwIubjHmSHTDnMsKi7P",
          "mode": "list",
          "cachedResultName": "Project",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dfaEUiqmy0LI2DwIubjHmSHTDnMsKi7P"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a672ca10-ae01-4251-89ee-0a9bb3635fd7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0F5GKrimTk6ubtkB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "the number of invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "the name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "the email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "the address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "the phone number of the client",
              "required": true
            },
            {
              "name": "Total",
              "type": "number",
              "description": "the total amount of the invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "the date of the invoice was sent",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "the date the invoice is due",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "ce9df6f1-f236-4868-8afe-9e5f540527c9",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        224
      ],
      "id": "63c88d51-af20-42a0-8866-8dbcb15ad15f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bUiU9RqqQpwmg4fA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1846FLWMullHb5gWT6DuYBS8JFVTi8Lm-K8sL4xgJaZQ",
          "mode": "list",
          "cachedResultName": "Invoice db",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1846FLWMullHb5gWT6DuYBS8JFVTi8Lm-K8sL4xgJaZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1846FLWMullHb5gWT6DuYBS8JFVTi8Lm-K8sL4xgJaZQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Total": "={{ $json.output.Total }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "1b481c36-4451-4945-ac77-1949eba17a36",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xYXdqmwXHGwjsZv2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number: {{ $json['Invoice Number'] }}\nClient Name: {{ $json['Client Name'] }}\nTotal: {{ $json.Total }}\nInvoice Date: {{ $json['Invoice Date'] }}\nClient Phone: {{ $json['Client Phone'] }}\nClient Email: {{ $json['Client Email'] }}\nClient Address: {{ $json['Client Address'] }}\nDue Date: {{ $json['Due Date'] }}"
            },
            {
              "content": "you are an email expert for SHEvolution. You will receive invoice information, your job is to notify internal billing team that invoice was received / sent. \nOutput:\nSubject- \nMessage-",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1248,
        0
      ],
      "id": "c9185a44-7466-4154-9f06-de6df2c4c59f",
      "name": "Create email msg",
      "credentials": {
        "openAiApi": {
          "id": "SL2sgp8ETsaFwFbU",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "5d9835ae-cdc3-4b32-b733-6de20e90d579",
      "name": "Extract data from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "8955e3ea-6f45-48e9-baf1-79cd977b9dbf",
      "name": "Download invoice file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0F5GKrimTk6ubtkB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dmou96593@gmail.com",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        0
      ],
      "id": "73654d73-748a-4062-ae93-22cda5bea057",
      "name": "Send a message",
      "webhookId": "1c471f2a-4837-4871-a615-d95c4b53f9b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "TeFPotXQPoyEBblo",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download invoice file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create email msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download invoice file": {
      "main": [
        [
          {
            "node": "Extract data from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create email msg": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f897486-25f8-4637-b39a-8b02317a13df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6554b8a92ad02dda2b35b9c8280415a345df2927d8239f4d2105812b89d6074"
  },
  "id": "2FTldFHDbrlxFeqY",
  "tags": []
}